  @font-face {
    font-family: shrift; /* Имя шрифта */
    src: url(../fonts/shrift.ttf); /* Путь к файлу со шрифтом */
   }
 body{
background: url(../images/32.jpg) repeat-x;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }
   .photo{
      position: relative;
   width: 1000px;
    height: 674px;
    margin: auto;
   margin-top: 20px;
}

.photo .p1 img{
	    position: relative;
	    height: 120px;
	         -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
     margin-right: 10px;
}


.photo .p2 img{
	    position: relative;
	    height: 120px;
	         -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
     margin-right: 10px;
      left: 165px;
}

 .photo .p3 img{
	    position: relative;
	    height: 120px;
	         -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
     margin-right: 10px;
      left: 350px;
}

.photo .p4 img{
	    position: relative;
	    height: 120px;
	         -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
     margin-right: 10px;
      left: 513px;
}

.photo .p1 img:hover, .photo .p3 img:hover, .photo .p2 img:hover, .photo .p4 img:hover{
	    position: relative;
	    height: 250px;
	    width: auto;
}

.photo .one{
	font-family: shrift;
	font-size: 40px;
	 color: transparent;
    background-color: #6f0025;
    background-image: linear-gradient(0deg, pink, yellow);
    -webkit-background-clip: text;
    background-clip: text;
}

.photo .two a{
	position: absolute;

	font-family: shrift;
	font-size: 40px;
	 color: transparent;
    background-color: #6f0025;
    background-image: linear-gradient(0deg, pink, yellow);
    -webkit-background-clip: text;
    background-clip: text;
}

.photo .two{
    position: absolute;
    top: 361px;
    left: 0px;
    width: 161px;
    height: 44px;
}

